.card-container {
  padding: 15px;
  border: 1.5px solid pink;
  border-radius: 5px;
  margin: 10px;
  font-size: 1.1em;
  font-weight: 400;
}

.card-container:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.card-content_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-icon:hover {
  cursor: pointer;
}
